    {% extends 'base.html.twig' %}

    {% block title %}
            {{medicament.nomCommercial}}
    {% endblock %}

    {% block body %}

    <div class="ad-title" style="background-image: url({{medicament.nomCommercial}})">
        <div class="container">
            <h1>{{medicament.nomCommercial}}</h1>
                 <p class="h2">
                       {{medicament.PrixEchantion}}&euro;</strong>
                     
                     </p>
                  </div>
                    
           
        </div>

    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img class="d-block w-100" src="https://static4.depositphotos.com/1006463/360/i/600/depositphotos_3601033-stock-photo-3d-pills-render-onwhite-background.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
        <img class="d-block w-100" src="https://leblogmedical.fr/wp-content/uploads/2012/06/medicament.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
        <img class="d-block w-100" src="https://www.francenetinfos.com/wp-content/uploads/2015/12/medicament-en-ligne.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
    </div> 
    </div>
        <div class="col">
            <div class="row">
            
                <div class="col">
                <h3>informations sur le medicament </h3>
                <spn class="badge badge-primary">type de medicaments</spn>
                </div>
                <div class="row">
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, id optio. Unde ipsa accusantium, vero ratione enim exercitationem? Doloribus, quis.</p>
           <p>Facilis consequatur numquam eius quos rerum laudantium fugit magnam, culpa delectus minus officia, sequi, in sunt et aperiam facere similique?</p>
           <p>Id nostrum quaerat laboriosam in voluptatem ipsa omnis labore aliquam, neque perspiciatis repudiandae praesentium reprehenderit dicta maiores delectus eius ratione.</p>
 </div>
  <a href="#" class="btn btn-primary">Acheter !</a>
            
            </div>
        
        </div>
    </div>
</div>

    {% endblock %}